body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
  color: White;
}

.download {
  color: Aquamarine;
  font-size: 14px;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: Gray;
}

.footer {
  text-align: right;
  color: Gray;
}
